body {
    background-color: blue;
}
h1 {
  color: white;
  font-size: 40px;
}
ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
}
.box {
  border: 1px solid black;
  float: left;
  margin: 0 10%;
  background-color: white;
  height: 220px;
  width: 150px;
}
button {
  margin: 15%;
  padding: 10;
}
